{% extends "base.html" %}

{% block title %}
Создание категории
{% endblock %}

{% block body %}
<h3>Создание категории</h3>

<form method="post">
    <div class="form-group">
        <label for="inputName">Название</label>
        <input type="text" name="name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="inputEmail">Подкатегория</label>
        <select class="form-control" name="category_id">
            {% for item in categories %}
            <option value="{{item.id}}">{{item.name}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>
{% endblock %}