{% extends "base.html" %}

{% block title %}
contact
{% endblock %}

{% block body %}
<h3>Форма обратной связи</h3>

<form method="post">
  <div class="form-group">
    <label for="inputName">Имя</label>
    <input type="text" name="name" class="form-control" />
  </div>
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" name="email" class="form-control" />
  </div>
  <div class="form-group">
    <label for="inputSubject">Тема</label>
    <input type="text" name="subject" class="form-control" />
  </div>
  <div class="form-group">
    <label for="inputMessage">Сообщение</label>
    <textarea type="text" name="message" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}