<h3>Рейтинг</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Участник</th>
      <th scope="col">Турнир</th>
      <th scope="col">Рейтинг</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Гарри Поттер</td>
      <td>Кубок огня</td>
      <td>829</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Седрик Диггори</td>
      <td>Кубок огня</td>
      <td>775</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Виктор Крам</td>
      <td>Кубок огня</td>
      <td>672</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Флёр Делакур</td>
      <td>Кубок огня</td>
      <td>574</td>
    </tr>
  </tbody>
</table>
