{% extends "base.html" %}

{% block title %}
index
{% endblock %}

{% block body %}
<h1>Index page</h1>

<h3>Three columns</h3>
<div class="row">
  <div class="col-sm">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat nihil vitae modi consectetur sint impedit perferendis eligendi rem placeat ipsam? Autem dolore facilis placeat dolores doloribus velit nobis, laboriosam asperiores.
  </div>
  <div class="col-sm">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ea praesentium vero delectus voluptatum distinctio maiores eius hic id, commodi, quaerat repudiandae culpa minus exercitationem nam nulla nobis sed. Illum velit modi sed tenetur et quis natus facere eligendi. Laudantium veniam dolore tempora nostrum animi sint eveniet quas rem tenetur.
  </div>
  <div class="col-sm">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, consectetur.
  </div>
</div>

{% include "inc-table.html" %}

{% endblock %}